<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flaviumircia.aquatrouble">
    <!-- Include required permissions for Google Mobile Ads to run. -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>
    <application
        android:allowBackup="true"
        android:configChanges="uiMode"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AquaTrouble"
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        tools:ignore="UnusedAttribute">
        <activity
            android:name=".settings_pref_activities.FaqActivity"
            android:theme="@style/map_theme"
            android:exported="false" />
        <activity
            android:name=".settings_pref_activities.MakeDonation"
            android:exported="false"
            android:theme="@style/map_theme" />

        <service
            android:name=".misc.NotificationService"
            android:exported="true"
            android:label="@string/app_name"
            android:permission="android.permission.VIBRATE">
            <intent-filter>
                <action android:name=".misc.NotificationService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Search"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/map_theme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name=".StreetDetails"
            android:exported="false"
            android:theme="@style/map_theme" />
        <activity
            android:name=".settings_pref_activities.About"
            android:exported="false"
            android:theme="@style/map_theme" />
        <activity
            android:name=".settings_pref_activities.FeedbackProvider"
            android:exported="false"
            android:theme="@style/map_theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".settings_pref_activities.BugSpotting"
            android:exported="false"
            android:theme="@style/map_theme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Sector"
            android:exported="false"
            android:theme="@style/map_theme" />
        <activity
            android:name=".MapDetails"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/map_theme"
            android:windowSoftInputMode="adjustNothing"
            tools:ignore="LockedOrientationActivity" />

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true" />
        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />

        <activity
            android:name=".MainActivity"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/day_theme"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".Eula"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:theme="@style/day_theme" />
        <activity
            android:name=".MainMap"
            android:configChanges="locale|orientation"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:theme="@style/map_theme"
            android:windowSoftInputMode="adjustNothing" />
        <activity
            android:name=".Splash"
            android:configChanges="locale|orientation"
            android:exported="true"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>